@(title: String)(body: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @body
        <script src="@routes.Assets.versioned("cola/cola.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.19/cytoscape.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cytoscape-cola@@2.3.0/cytoscape-cola.js"></script>


    </body>
</html>
